
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: #fff;
    padding: 20px;
}

/* Header */

.myWrap{
    margin-top: 140px;
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-bottom: 200px;
}

h1{
    font-size: 90px;
}

.my{
    width: 600px;
    height: 300px;
    background-color: #6f6f6f;
}

header{
    width: 100%;
    padding: 20px 30px;
    border-bottom:solid 1px #060606 ;
}

.header_inner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    display: block;
}

.logo img{
    width: 50px;
    height: 50px;
    display: block;
}

.nav{
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav a{
    text-decoration: none;
    color: #060606;
    font-size: 1.0rem;
    letter-spacing: 0.15em;
    transition: .3s;
}

.nav a:hover{
    opacity: .6;
}


.category{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 24px 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.category button{
    padding: 10px 18px;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 1.2rem;
    color: #666;
    cursor: pointer;
    transition: .3s;
}

.category button:hover{
    background: #111;
    color: #fff;
    border-color: #111;
}

.category .active{
    background: #111;
    color: #fff;
    border-color: #111;
}
.cardWrap{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 140px;
}

.card{
    width: 400px;
}

.cardImg{
    position: relative;
        overflow: hidden;
    border-radius: 10px;
}

.cardImg img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.cardImg p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}


.card h3{
    margin-top: 14px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #333;
}

.text{
    margin-top: 10px;
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
}